<launch>

    <!-- static frames -->
    <!-- <node name="tf_world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map world 10)"/>
    <node name="tf_base_cam" pkg="tf" type="static_transform_publisher" args="0.065 0 0.065 -0.5 0.5 -0.5 0.5 odom camera_link 10"/> -->
   
    <!-- When false, sdf map is built fast but no odom axis markers
    When true, markers exist but maps is slow.  -->

    <arg name="odometry_topic" default="/mavros/local_position/odom/out"/>

    <param name="use_sim_time" value="false"/>
    
    <!-- Because bags are always non simulation -->
    <param name="sim" value="False"/> 

    <include file="$(find bringup)/fuel.launch">
        <arg name="init_x"   value="-2"/>
        <arg name="init_y"   value="-1"/>
        <arg name="init_z"   value="1"/>
        <arg name="map_size_x" value="5"/>
        <arg name="map_size_y" value="5"/>
        <arg name="map_size_z" value="1.7"/>

        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/filled"/>
        <!-- <arg name="depth_topic" value="/camera/depth/image_rect_raw"/> -->
        <arg name="sensor_pose_topic" value="/camera/pose"/>
    </include>

    <!-- rosbag, gives out sensor_pose, odomtery, depth, rgb -->
    <node name="fake_fuel_bag" pkg="rosbag" type="play" args="--clock -l $(find bringup)/data/bags/depth_filled_2.bag">
        <remap from="/camera/depth/image_rect_raw" to="/camera/aligned_depth_to_color/image_raw"/>
    </node>

    <node name="fake_bag_odom" pkg="fake_localization" type="fake_bag_odom_node">
        <remap from="/odom_topic" to="$(arg odometry_topic)"/>
    </node>

    <!-- parameters -->
    <rosparam file="$(find bringup)/config/fuel_algo.yaml" ns="exploration_node"/>
    
    <node name="attention_map_2d" type="attention_map.py" pkg="attention_map" output="screen" required="false">
        <param name="rgb_topic" value="/camera/color/image_raw"/>
    </node>
    <node name="depth_filler" type="depth_filler_node.py" pkg="img_utils" output="screen" required="true"/>

    <include file="$(find bringup)/rviz.launch">
        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    </include>

</launch>