<launch>
    <arg name="sim" default="true"/>
    <!-- size of map, change the size in x, y, z according to your application -->
    <arg name="map_size_x" default="50.0"/>
    <arg name="map_size_y" default="50.0"/>
    <arg name="map_size_z" default=" 10.0"/>
  
    <arg name="init_x" default="0"/>
    <arg name="init_y" default="0"/>
    <arg name="init_z" default="1.0"/> 
  
    <!-- topic of your odometry such as VIO or LIO -->
    <arg name="odometry_topic" default="/state_ukf/odom" />
    <arg name="sensor_pose_topic" default="/state_ukf/odom" />
    <arg name="depth_topic" default="/state_ukf/odom" />
  
    <node name="tf_world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map world 10)"/>
    <node name="tf_base_cam" pkg="tf" type="static_transform_publisher" args="0.065 0 0.065 -0.5 0.5 -0.5 0.5 odom camera_link 10"/>

    <!-- main algorithm params -->
    <include file="$(find exploration_manager)/launch/algorithm.xml">
  
      <arg name="map_size_x_" value="$(arg map_size_x)"/>
      <arg name="map_size_y_" value="$(arg map_size_y)"/>
      <arg name="map_size_z_" value="$(arg map_size_z)"/>
  
      <arg name="box_min_x" value="-2.5"/>
      <arg name="box_min_y" value="-2.5"/>
      <arg name="box_min_z" value=" 0.0"/>
      <arg name="box_max_x" value="2.5"/>
      <arg name="box_max_y" value="2.5"/>
      <arg name="box_max_z" value="1.7"/>
  
      <arg name="odometry_topic" value="$(arg odometry_topic)"/>
      <!-- sensor pose: transform of camera frame in the world frame -->
      <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
      <!-- depth topic: depth image, 640x480 by default -->
      <!-- cloud topic: point cloud measurement  -->
      <!-- subscribe ONLY TO ONE of the two topics -->
      <arg name="depth_topic" value="$(arg depth_topic)"/>
      <arg name="cloud_topic" value="/pcl_render_node/cloud"/>
  
      <!-- intrinsic params of the depth camera -->
      <arg if="$(arg sim)" name="cx" value="424.5"/>
      <arg if="$(arg sim)" name="cy" value="240.5"/>
      <arg if="$(arg sim)" name="fx" value="454.68577"/>
      <arg if="$(arg sim)" name="fy" value="454.68577"/>
      
      <!-- Got these from realsense topic: /camera/depth/camera_info -->
      <arg unless="$(arg sim)" name="cx" value="422.865783"/>
      <arg unless="$(arg sim)" name="cy" value="242.46154"/>
      <arg unless="$(arg sim)" name="fx" value="427.75729"/>
      <arg unless="$(arg sim)" name="fy" value="427.75729"/>

      <!-- maximum velocity and acceleration the drone will reach -->
      <arg name="max_vel" value="1.0" />
      <arg name="max_acc" value="1.0" />
    </include>
  
    <!-- trajectory server -->
    <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
      <remap from="/position_cmd" to="planning/pos_cmd"/>
  
      <remap from="/odom_world" to="$(arg odometry_topic)"/>
      <param name="traj_server/time_forward" value="1.5" type="double"/>
      <param name="traj_server/pub_traj_id" value="4" type="int"/>
      <param name="traj_server/init_x" value="$(arg init_x)" type="double"/>
      <param name="traj_server/init_y" value="$(arg init_y)" type="double"/>
      <param name="traj_server/init_z" value="$(arg init_z)" type="double"/>
  
      <param name="perception_utils/top_angle" value="0.56125" type="double"/>
      <param name="perception_utils/left_angle" value="0.69222" type="double"/>
      <param name="perception_utils/right_angle" value="0.68901" type="double"/>
      <param name="perception_utils/max_dist" value="4.5" type="double"/>
      <param name="perception_utils/vis_dist" value="1.0" type="double"/>
      
  
    </node>
  
    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
      <remap from="~odom" to="$(arg odometry_topic)"/>        
      <remap from="~goal" to="/move_base_simple/goal"/>
      <remap from="~traj_start_trigger" to="/traj_start_trigger" />
      <param name="waypoint_type" value="point"/>    
    </node>


</launch>