<launch>
    <arg name="map_size_x" default="6.2"/>
    <arg name="map_size_y" default="5"/>
    <arg name="map_size_z" default=" 2"/>
    <arg name="odometry_topic" default="mavros/local_position/odom" />
    <arg name="depth_topic" default="drone1/depth/image_rect_raw"/>
    <arg name="sensor_pose_topic" default="drone_0/camera"/>
    <arg name="init_x" default="1"/>
    <arg name="init_y" default="1"/>
    <arg name="init_z" default="1"/> 

    <node name="tf_world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map world 10"/>
    <node name="tf_base_cam" pkg="tf" type="static_transform_publisher" args="0.1 0 0 -0.5 0.5 -0.5 0.5 odom drone_0/camera 10"/>

    <!-- Planner -->
    <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
        <arg name="init_x"   value="$(arg init_x)"/>
        <arg name="init_y"   value="$(arg init_y)"/>
        <arg name="init_z"   value="$(arg init_z)"/> 
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_prefix" value="/state_ukf/odom"/>
        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
        <arg name="simulation" value="true"/>

        <!-- Got these from drone1/depth/camera_info -->
        <arg name="cx" value="211.4328"/>
        <arg name="cy" value="121.2307"/>
        <arg name="fx" value="213.8786"/>
        <arg name="fy" value="213.8786"/>

      </include>

</launch>