<launch>
    <arg name="sim" default="true"/>
    <!-- size of map, change the size in x, y, z according to your application -->
    <arg name="map_size_x" default="5.0"/>
    <arg name="map_size_y" default="5.0"/>
    <arg name="map_size_z" default=" 1.7"/>

    <arg name="init_x" default="-2"/>
    <arg name="init_y" default="-1"/>
    <arg name="init_z" default="1.0"/> 

    <!-- topic of your odometry such as VIO or LIO -->
    <arg name="odometry_topic" default="/mavros/local_position/odom" />
    <arg name="sensor_pose_topic" default="/camera/pose" />
    <arg name="depth_topic" default="/camera/depth/image_rect_raw" />
  
    <node name="tf_world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map world 10)"/>
    <node name="tf_base_cam" pkg="tf" type="static_transform_publisher" args="0.065 0 0.065 -0.5 0.5 -0.5 0.5 odom camera_link 10"/>

    <!-- main algorithm params -->
    <!-- <rosparam command='load' file="$(find stem_bringup)/config/fuel_default.yaml"/> -->
    <node pkg="exploration_manager" name="exploration_node" type="exploration_node" output="screen">      
      <!-- Some important remaps -->
      <remap from ="/odom_world" to="$(arg odometry_topic)"/>
      <remap from ="/map_ros/pose"   to = "$(arg sensor_pose_topic)"/> 
      <remap from ="/map_ros/depth" to = "$(arg depth_topic)"/>
      
      <!-- Need a redefine to give custom path -->
      <param name ="~exploration/tsp_dir" value="/root/thesis_ws/src/thesis/sw/stem_bringup/resource"/>

    </node>

  
    <!-- trajectory server -->
    <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
      <remap from="/position_cmd" to="planning/pos_cmd"/>
  
      <remap from="/odom_world" to="$(arg odometry_topic)"/>
      <param name="traj_server/time_forward" value="1.5" type="double"/>
      <param name="traj_server/pub_traj_id" value="4" type="int"/>
      <param name="traj_server/init_x" value="$(arg init_x)" type="double"/>
      <param name="traj_server/init_y" value="$(arg init_y)" type="double"/>
      <param name="traj_server/init_z" value="$(arg init_z)" type="double"/>
  
      <param name="perception_utils/top_angle" value="0.56125" type="double"/>
      <param name="perception_utils/left_angle" value="0.69222" type="double"/>
      <param name="perception_utils/right_angle" value="0.68901" type="double"/>
      <param name="perception_utils/max_dist" value="4.5" type="double"/>
      <param name="perception_utils/vis_dist" value="1.0" type="double"/>
      
  
    </node>
  
    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
      <remap from="~odom" to="$(arg odometry_topic)"/>        
      <remap from="~goal" to="/move_base_simple/goal"/>
      <remap from="~traj_start_trigger" to="/traj_start_trigger" />
      <param name="waypoint_type" value="point"/>    
    </node>


</launch>