<launch>
    <arg name="sim" default="true"/>
    <arg name="odometry_topic" default="/mavros/local_position/odom"/>
    <arg if="$(arg sim)" name="conf" value="sim"/>
    <arg unless="$(arg sim)" name="conf" value="hw"/>
    
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find stem_bringup)/config/$(arg conf).rviz" >
      <remap from="/mavros/local_position/odom" to="$(arg odometry_topic)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 world navigation 100" />
  </launch>