<launch>
    <arg name="init_x" default="1.0"/>
    <arg name="init_y" default="1.0"/>
    <arg name="init_z" default="1.0"/>
    <arg name="init_R" default="1.0"/>
    <arg name="init_P" default="1.0"/>
    <arg name="init_Y" default="1.0"/> 
    <arg name="map_size_x" default="5"/>
    <arg name="map_size_y" default="5"/>
    <arg name="map_size_z" default="1.7"/>
    
    <arg name="gui"   default="false"/> 
    <arg name="world" default="/root/.gazebo/experiment3.world"/>
    <arg name="vehicle" default="iris_depth_camera"/>
    <arg name="name"   default="sitl"/>
    
    <arg name="drone_id" default="1"/>
    <arg name="drone_num" default="1"/>
    <arg name="odometry_topic" default="/mavros/local_position/odom" />
    <arg name="depth_topic" default="iris_depth_camera/camera/depth/image_raw" />
    <arg name="sensor_pose_topic" default="camera/pose" />
    <!-- <node name="tf_world_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map world 10"/> -->
    <!-- <node name="tf_base_camera" pkg="tf" type="static_transform_publisher" args="0.1 0 0 0 0 0 1 base_link camera_link 10"/> -->

   
  <include if="$(eval name=='sitl')" file="$(find px4_tools)/launch/px4_tools.launch">
      <arg name="sim"   value="true"/>
      <arg name="x"   value="$(arg init_x)"/>
      <arg name="y"   value="$(arg init_y)"/>
      <arg name="z"   value="$(arg init_z)"/> 
      <arg name="R"   value="$(arg init_R)"/>
      <arg name="P"   value="$(arg init_P)"/>
      <arg name="Y"   value="$(arg init_Y)"/> 
      <arg name="gui"   value="$(arg gui)"/> 
      <arg name="world" value="$(arg world)"/>
      <arg name="vehicle" value="$(arg vehicle)"/>
      <arg name="px4_control_interface_param_file" value="$(find planner)/config/racer.yaml"/>
  </include>

  <!-- Default racer perfect odometry simulator -->
  <group if="$(eval name=='perfect')">
    <include file="$(find exploration_manager)/launch/simulator_light.xml">
      <arg name="drone_id" value="$(arg drone_id)"/>
      <arg name="drone_num" value="$(arg drone_num)"/>
      <arg name="init_x"   value="$(arg init_x)"/>
      <arg name="init_y"   value="$(arg init_y)"/>
      <arg name="init_z"   value="$(arg init_z)"/> 
      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odometry_topic" value="$(arg odometry_topic)" />
      <arg name="depth_topic" value="$(arg depth_topic)" />
      <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)" />
    </include>
    
    <node pkg ="map_generator" name ="map_pub" type ="map_pub" output = "screen" args="$(find map_generator)/resource/pillar.pcd">    
    </node>
  </group>
  

</launch>