<launch>
    <arg name="init_x"   default="-2"/>
    <arg name="init_y"   default="-1"/>
    <arg name="init_z"   default="0"/> 
    <arg name="init_R"   default="0"/>
    <arg name="init_P"   default="0"/>
    <arg name="init_Y"   default="0"/> 
    <arg name="map_size_x" default="5"/>
    <arg name="map_size_y" default="5"/>
    <arg name="map_size_z" default="1.7"/>

    <arg name="gui" default="false" />
    <arg name="sim" default="true"/>
    <arg name="planner" default="racer"/>
    <arg name="sim_name" default="sitl"/>
    <arg name="vehicle" default="iris_depth_camera"/>
    
    <arg name="odometry_topic" default="/mavros/local_position/odom"/>
    
    <!-- enable for perfect odometry -->
    <!-- <arg name="odometry_topic" default="/gazebo/ground_truth/odom"/> -->

    <arg name="sensor_pose_topic" default="/camera/pose"/>
    <!-- <arg if="$(eval sim_name=='perfect')" name="odometry_topic" value="/state_ukf/odom_1"/> -->

    <arg if="$(arg sim)" name="depth_topic" value="$(arg vehicle)/camera/depth/image_raw"/> 
    <arg unless="$(arg sim)" name="depth_topic" value="camera/depth/image_rect_raw"/> 
    
    <!-- So that ros nodes can use it too -->
    <param name="sim" value="$(arg sim)"/>
   


    <!-- simulator -->
    <group if="$(eval sim and sim_name=='sitl')">
         <!-- firmware -->
         <include file="$(find px4)/launch/mavros_posix_sitl.launch">
            <!-- gazebo args -->
            <arg name="x" value="$(arg init_x)"/>
            <arg name="y" value="$(arg init_y)"/>
            <arg name="z" value="$(arg init_z)"/>
            <arg name="R" value="$(arg init_R)"/>
            <arg name="P" value="$(arg init_P)"/>
            <arg name="Y" value="$(arg init_Y)"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="world" value="/root/.gazebo/experiment3.world"/>
            <arg name="gui" value="$(arg gui)" />
            <!-- <arg name="sdf" value="/root/.gazebo/models/$(arg vehicle)_depth_camera/$(arg vehicle)_depth_camera.sdf"/> -->
            
            <!-- mavros args -->
            <!-- <arg name="fcu_url" value="udp://@10.43.0.225:14540"/> -->
            <!-- <arg name="respawn_mavros" value="false"/> -->
        </include>

        <!-- <node name="ekf_origin_pub" pkg="rostopic" output="screen" type="rostopic" args="pub -l /mavros/global_position/set_gp_origin geographic_msgs/GeoPointStamped '{header: auto, position: { latitude: 47.3977420, longitude: 8.545594, altitude: 535.221}}'"/> -->
        
        <node name="fake_localizer" pkg="simulator" output="screen" type="fake_localization_node">
            <param name="init_x" value="$(arg init_x)"/>
            <param name="init_y" value="$(arg init_y)"/>
            <param name="init_z" value="$(arg init_z)"/>
        </node>

        <!-- drone toolbox interface -->
        <!-- This already runs onboard so only need it in sim -->
        <node pkg="px4_tools" type="px4_control_interface_node" name="px4_control_interface" required="true" output="screen">
            <rosparam command="load" file="$(find planner)/config/racer.yaml"/>
            <param name="is_sim" value="$(arg sim)"/>
            <param name="odometry_topic" value="$(arg odometry_topic)"/>
        </node>
    </group>

    <!-- drone toolbox template -->
    <node name="planner_if" type="$(arg planner)_if.py" pkg="planner" output="screen" required="true" launch-prefix="xterm -e"/>
            

    <!-- Planner -->
    <!-- <include file="$(find planner)/launch/racer.launch">
        <arg name="init_x"   value="$(arg init_x)"/>
        <arg name="init_y"   value="$(arg init_y)"/>
        <arg name="init_z"   value="$(arg init_z)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>

        <arg name="sim"   value="$(arg sim)"/>
        <arg name="sim_name"   value="$(arg sim_name)"/>
        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
    </include> -->

    <include file="$(find planner)/launch/fuel.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="init_x"   value="$(arg init_x)"/>
        <arg name="init_y"   value="$(arg init_y)"/>
        <arg name="init_z"   value="1"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>

        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
    </include>
    
    <node ns="$(arg vehicle)" name="attention_map_2d" type="attention_map.py" pkg="planner" output="screen" required="true">
        <param unless="$(arg sim)" name="rgb_topic" value="/camera/color/image_raw"/>
        <param if="$(arg sim)" name="rgb_topic" value="camera/rgb/image_raw"/>
    </node>

</launch>